*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #e7eaf6;
  color: aliceblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
  background-color:#113f67 ;
  padding: 0.5% 5% ;
  text-align: right;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
header h1{
  float:left;
  text-align: center;
  font-size: 3vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(
    to right,
    #e7eaf6 0%,
    #e7eaf6 45%,
    #a2a8d3 45%,
    #a2a8d3 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

nav a{
  color: #a2a8d3;
  background-color:#113f67;
  text-decoration: none;
  margin-right: 10px;
  font-size: 1.5rem;
}
nav a:hover{
  text-transform: uppercase;
}

#pfp{
  height: 35vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7.5%;

}
main section{
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.hero-banner{
  background-image: url("../images/bgpic.jpg") ;
  background-size: cover;
  background-repeat: repeat-y;
} 
main section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: row;
  flex-wrap: wrap;
}
main section h2{
  flex-basis: 12%;
  text-align: right;
  border-right: 4px solid #a2a8d3;
  font-size: 3vw;
  color: #a2a8d3;
}
main section div{
  flex-basis: 78%;
}
#about p{
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#projects{
  display: block;
  width: 70%;
  
}
#projects>div{
  border: none; 
  border-top: 4px solid #a2a8d3 ;
}

#projects h2{
  border-right: none;
  text-align: center;
}

#about, #projects, #contact{
  padding-top: 8%;}
#contact div a{
  font-size: 1.3rem;
  padding: 7px;
  margin: 20px 2%;
}
.flex-con{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 100%;
}
.flex-con>a{
  text-decoration: none;
}
.link{
  color: #a2a8d3;
  border: 5px solid #113f67;
  background-color: #3e5f7b;
  text-decoration: none;
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 100%;
  transition: all 0.5s;
  font-size: 0.9rem;
}

.link:hover{
  background-color: rgb(0, 0, 0,0.5);
}

.link h3{
  font-size: 1.5rem;
}
.link:first-child{
  min-height: 40vh;
  flex-basis: 100%;
}
a{
  text-decoration: none;
}
.calc{
  background-image:url("../images/calc.png") ;
}
.stats{
  background-image:url("../images/stats_card.png") ;
}
.nft{
  background-image:url("../images/nft.png") ;
}
.ttt{
  background-image:url("../images/tictactoe.png") ;
}
.art{
  background-image:url("../images/art-gallery.png") ;
}
.fa{
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  margin: 0px 2px;
  border-radius: 2px;
  border: 1px #ffebcf solid;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.fa:hover{
  transform: scale(0.8,0.8);
  transform-origin: center;
  transition-duration: 1s;
}
.fa-phone, .fa-envelope, .fa-github, .fa-twitter, .fa-instagram {
  background: #a2a8d3;
  color: white;
}